config:
  door:
    - id: 0
      name: "door 0"
      key: "HELLOWORLD-ABCD"
    - id: 1
      name: "door 1"
      key: "HELLOWORLD-EFGH"
acl:
  - rfiduid: "42abcd01"
    slackuid: "AABBCCDDE"
    user: "example"
