opener:
  - id: open0
    host: "10.0.0.1"
    port: "8000"
    secret: "abcdef0123456789"
  - id: open1
    host: "10.0.0.2"
    port: "8000"
    secret: "ghijkl0123456789"
door:
  - id: door0
    name: "door 0"
    opener: open0
    relais: 0
  - id: door1
    name: "door 1"
    opener: open0
    relais: 1
  - id: door2
    name: "other door 2"
    opener: open1
    relais: 0
acl:
  - rfiduid: "42abcd01"
    slackuid: "AABBCCDDE"
    user: "example"
